[mysql]
host=
user=
password=
schema=
collation=utf8_unicode_ci

[data]
directory=
version=

[wd]
company_id=
line_id=
user_id=

[default]
warehouse_code=WHS

[aws]
key=
secret=
region=us-east-1
bucket=

[import]
codes=yes
warehouses=yes
vendors=yes
reps=yes
rep_employees=yes
customers=yes
customer_notes=yes
customer_ar_notes=yes
customer_employees=yes
customer_ship_tos=yes
customer_resale=yes
styles=yes
items=yes
services=yes
inventory=yes
purchase_orders=yes
purchase_order_detail=yes
purchase_order_notes=yes
open_transactions=yes
open_transaction_detail=yes
open_transaction_allocations=yes
open_transaction_messages=yes
shipped_transactions=yes
shipped_transaction_detail=yes
shipped_transaction_allocations=yes
shipped_transaction_messages=yes
shipped_transaction_notes=yes
accounts_receivable=yes
